.hero{
    background-image: url("../assets/poolVilla.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all ease-out .7s;
    background-color: rgb(65, 60, 60);
    background-blend-mode: overlay;
}

.active{
    border-bottom: 2px solid;
    transition: 0.2s all linear;
}

.featured{
    padding-bottom: 1;
    position: relative;
    border-bottom: 2px solid #fff;
    font-weight: 400;
    letter-spacing: .1em;
    display: inline-block;
    padding: 10px 10px 10px 0px;
    color: inherit;
    width: max-content;
    text-transform: uppercase;
    cursor: pointer;
}

.featured::before{
    content: '';
    position: absolute;
    left: 0;
    /* color: transparent; */
    width: 0%;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .23s;
    height: 2px;
    bottom: -2px;
    background: #c9a58a;
}

 .featured:hover::before{
    width: 100%;
    /* color: #fff; */
} 